.DS_Store
npm-debug.log
node_modules

# igrnores all temp dirs like ./temp/ ./lib/temp/
temp/

# htmlOutputFile.html be in ./temp/ but seems to end in ./ somehow 
htmlOutputFile.html
.directory
.flowconfig
